* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

body {
  background-color: #022635;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 5%;
  background: rgba(2, 38, 53, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
  font-family: cursive;
  transition: 0.3s ease;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  color: #fff;
  background-size: 10px 10px;
  background-clip: border-box;
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: rgb(253, 253, 10);
}

#mobile-icon {
  font-size: 3rem;
  color: rgb(73, 73, 143);
  display: none;
}

.home {
  display: flex;
  align-items: center;
  background: #022635;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 8rem;
  margin-top: 5rem;
}

.coo {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures image doesn't overflow the circle */
}

.coo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire circle */
  transition: 0.45s ease-in-out;
  border: 0.2rem solid rgb(192, 192, 10);
  box-shadow: none;
}

.coo img:hover {
  background-color: #022635;
  border: #424203;
}


.co h2 {
  text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
  margin-top: 6rem;
  color: white;
  font-size: 1.5rem;
}

span {
  color: #cd921e;
}

.text {
  color: #cd921e;
  position: relative;
}

.co h1 {
  text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
  font-size: 1.7rem;
  color: white;
}

.about {
  padding: 4rem 2rem 8rem;
  text-align: center;
}

.about .heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ig {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.ig img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
}

.par {
  font-size: 1rem;
  margin: 2rem 0;
}

.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: #3a3a08;
  color: #ffffff;
  text-decoration: none;
  border: #0b4a64;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bttn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: #3a3a08;
  color: #ffffff;
  text-decoration: none;
  border: #0b4a64;
  border-radius: 2rem;
  cursor: pointer;
}

.bttn a {
  color: white;
}

.btn a {
  border-radius: 2rem;
  color: white;
}

.btn:hover {
  border-color: #29baf8;
  background: #29baf8;
}

.projects {
  background: #022635;
  padding-bottom: 8rem;
  color: #fff;
}

.projects .heading {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-top: 4rem;
  color: #cd921e; /* Matching "About Me" color */
}

.p-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}

.p-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 25px rgba(252, 252, 14, 0.5);
  border-radius: 3rem;
  gap: 2rem;
  height: 85%;
  width: 80%;
  overflow: hidden;
  border: 2px solid #424203;
  background-color: #0b9ce4;
  cursor: pointer;
  padding: 3rem 1.5rem;
  transition: 0.45s ease-in-out;
}

.p-box:hover {
  background: white;
  color: black;
  border: 5px solid #3a3a08;
  transform: scale(1.03);
}

.p-box img {
  max-width: 70%;
  height: 70%;
  border-radius: 2rem;
  object-fit: scale-down;
}

.p-box p {
  font-size: 1rem;
}

.p-box h4 {
  font-size: 1.5rem;
}

.p-info p {
  font-size: 1rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}

.contact {
  background-color: #022635;
  padding: 6rem 2rem;
  text-align: center;
}

.contact .heading {
  color: white;
  font-size: 3rem; /* Increased size for emphasis */
  margin-bottom: 3rem;
}

.contact p {
  color: white;
  margin-bottom: 3rem;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea {
  display: grid;
  grid-template-rows: 100px;
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: #CD921E;
  background: #032b3f;
  border-radius: 2rem;
  border: 2px solid;
  border-color: #CD921E;
  margin: 1.5rem 0;
  resize: none;
}

.contact form .btn {
  border-radius: 2rem;
  border: 2px solid;
  text-align: center;
  color: #CD921E;
  background: #032b3f;
  font-size: 2rem;
  width: 20rem;
  border-color: #CD921E;
  transition: 0.45s ease-in-out;
}

.contact form .btn:hover {
  border-color: #29baf8;
  background: #29baf8;
}

.footer {
  background-color: #064f6e;
  padding: 50px 0;
  width: 100%; /* Ensure footer takes up full width */
  position: relative;
  left: 0; /* Align it to the left edge */
  right: 0; /* Align it to the right edge */
}

.footer .social {
  text-align: center;
}

.footer ul {
  text-align: center;
  font-size: 1.8rem;
}

.footer ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(#29baf8);
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
}


.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  font-size: 2.5rem;
  border-radius: 50%;
  border: 2px solid rgb(8, 234, 250);
  margin: 3rem 1.5rem 3rem 0;
  color: rgb(8, 234, 250);
  transition: 0.3s ease-in-out;
}

.social a:hover {
  background: rgb(8, 234, 250);
  color: #052a3a;
}
  
@media (max-width: 768px) {
  .p-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .projects .p-box {
    width: 90%; /* Adjust the width so that the project boxes don't fill the entire width */
    max-width: 400px; /* You can set a max-width for better control */
  }

  .navbar a {
    font-size: 2rem;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .home {
    margin-top: 3rem;
  }

  .co img {
    width: 80%;
  }

  .heading {
    font-size: 3rem;
  }

  .contact form {
    flex-direction: column;
    width: 80%;
  }

  .contact form .input-box input,
  .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
  }

  .contact form .btn {
    width: 100%;
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    display: none; /* Hide navbar by default */
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(2, 38, 53, 0.8);
  }

  .navbar.active {
    display: flex; /* Show navbar when active */
  }

  #mobile-icon {
    display: block; /* Show mobile icon */
    cursor: pointer;
  }
}
